@model IEnumerable<ProjectAnimalCatalog.Models.Animal>
@{
    Layout = "~/Views/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>CategoryCatalog</title>
</head>
<body>
    <a class="btn comment-button" asp-controller="Home" asp-action="HomePage">Back To the Main Page</a>
    <div class="btn-group" role="group" aria-label="Basic mixed styles example">
        <a asp-controller="Catalog" asp-action="CategoryCatalog" asp-route-id="1" type="button" class="btn btn-danger">Mammals</a>
        <a asp-controller="Catalog" asp-action="CategoryCatalog" asp-route-id="2" type="button" class="btn btn-warning">Birds</a>
        <a asp-controller="Catalog" asp-action="CategoryCatalog" asp-route-id="3" type="button" class="btn btn-success">adb</a>
        <a asp-controller="Catalog" asp-action="CategoryCatalog" asp-route-id="4" type="button" class="btn btn-primary">Fishes</a>
        <a asp-controller="Catalog" asp-action="CategoryCatalog" asp-route-id="5" type="button" class="btn btn-secondary">Reptiles</a>
        <a asp-controller="Catalog" asp-action="HomeCatalog" type="button" class="btn btn-dark">Show All</a>
    </div>
    <table border="1" class="table table-striped">
        <thead>
            <tr>
                <th id="fantasyTable">
                    @Html.DisplayNameFor(model => model.AnimalsId)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Age)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CategoryId)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.PictureName)
                </th>
                <th>
                    Actions
                </th>
            </tr>
        </thead>
        <tbody>

            @foreach (var animal in Model)
            {
                <tr>
                    <td class="d-none d-lg-table-cell">
                        @animal.AnimalsId
                    </td>
                    <td>
                        @animal.Name
                    </td>
                    <td>
                        @animal.Age
                    </td>
                    <td>
                        @animal.CategoryId
                    </td>
                    <td>
                        <img src="@animal.PictureName" height="60" width="60" />
                    </td>
                    <td>
                        <a class="btn btn-info" asp-controller="Catalog" asp-action="Details" asp-route-id="@animal.AnimalsId">Details</a>
                    </td>
                </tr>
            }


        </tbody>
    </table>
</body>
</html>
